* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.clock1 {
    margin: 5rem auto 3rem;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 1rem;
}

.digital-clock {
    width: 15rem;
    background-color: #141313;
    border: 2px solid #7c7ce8;
    border-radius: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    text-align: center;
    line-height: 2rem;
}

.time {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700;
}

.date {
    font-size: 0.8rem;
    color: #f0f8ff;
}


/* Analog clock styling */

.clock2 {
    margin: 5rem auto 3rem;
}

.analog-clock {
    width: 15rem;
    height: 15rem;
    background-color: #141313;
    border: 0.3rem solid #7c7ce8;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    position: relative;
}

.clock-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.numbers {
    color: #7c7ce8;
    font-size: 1rem;
    position: absolute;
}

.twelve {
    align-self: center;
}

.three {
    align-self: flex-end;
    top: 45%;
}

.six {
    align-self: center;
    bottom: 0;
}

.nine {
   align-self: flex-start;
   top: 45%;
}

.lines {
    background-color: #f0f8ff;
    width: 3px;
    height: inherit;
    position: absolute;
    top: 0;
    left: 50%;
}

.line1 {
    transform: rotate(30deg);
}

.line2 {
    transform: rotate(60deg);
}

.line3 {
    transform: rotate(120deg);
}

.line4 {
    transform: rotate(150deg);
}

.inner-circle {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: #141313;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 15%;
    left: 15%;
}

.inner-circle::before {
    content: " ";
    background-color: #7c7ce8;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    position: absolute;
    left: 45%;
    top: 45%;
    z-index: 1;
}

.hand {
    border-radius: 0.3rem;
    position: absolute;
    left: 50%;
    transform-origin: bottom center;
}

.hour {
    border-left: 3px solid #f0f8ff;
    height: 2.5rem;
    position: absolute;
    top: 23%;
}

.minute {
    border-left: 2px solid #f0f8ff;
    height: 3.5rem;
    top: 14%;
}

.second {
    border-left: 2px solid #ec3333;
    height: 4.5rem;
    top: 5%;
}

@media screen and (min-width: 768px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6rem;
        height: 100vh;
        border: 1px solid blue;
    }

    .clock1 {
        margin: 0;
    }

    .clock2 {
        margin: 0;
    }
}